body {
    background-color: #8B6E5E;
    font-size: 16px;
    main {
        .work-title2 {
            padding-top: 140px;
            padding-bottom: 30px;
            text-align: center;
            font-weight: bold;
        }
        .work-img {
            text-align: center;
            img {
                max-width: 960px;
                width: 100%;
                border: 3px #FFE5CE solid;
            }
        }
        table {
            margin: 20px auto;
            background-color: #FFE5CE;
            td {
                padding: 10px 0;
                @media screen and (max-width: 759px) {
                    padding: 5px 0;
                }
                @media screen and (max-width: 519px) {
                    padding: 2.5px 0;
                }
            }
        }
        @media screen and (max-width: 759px) {
            font-size: 14px;
        }
        @media screen and (max-width: 519px) {
            font-size: 12px;
        }
        .top-link {
            display: block;
            text-align: center;
            padding-bottom: 20px;
        }
    }
}